In [38]:
import pandas as pd

company_df = pd.read_csv("full company data.csv", parse_dates=["Date"], index_col="Date")

competitor_df = pd.read_csv("full competitor data.csv", parse_dates=["Date"], index_col="Date")

market_df = pd.read_csv("market data.csv", parse_dates=["Date"], index_col="Date")


company_df

            Revenue  NET Income    Ad Spent  Products launched  Profit Margins
Date
2016-01-01  2500000  1250000.00   750000.00                  1            0.50
2016-02-01  2570000  1285000.00   771000.00                  2            0.50
2016-03-01  2578568  1289284.00   773570.40                  2            0.50
2016-04-01  2599087  1299543.50   779726.10                  1            0.50
2016-05-01  2645678  1137641.54   661419.50                  0            0.43
2016-06-01  2567896  1104195.28   641974.00                  0            0.43
2016-07-01  2694354  1158572.22   673588.50                  0            0.43
2016-08-01  2865456  1232146.08   716364.00                  2            0.43
2016-09-01  2987230  1194892.00   985785.90                  1            0.40
2016-10-01  3034543  1213817.20  1031744.62                  2            0.40
2016-11-01  2456545   982618.00   736963.50                  1            0.40
2016-12-01  2354345   941738.00   635673.15                  0            0.40
2017-01-01  2002323   800929.20   500580.75                  0            0.40
2017-02-01  2654565  1061826.00   769823.85                  0            0.40
2017-03-01  2565430  1000517.70   692666.10                  3            0.39
2017-04-01  2434543   949471.77   584290.32                  2            0.39
2017-05-01  2003230   781259.70   400646.00                  0            0.39
2017-06-01  2134543   832471.77   426908.60                  0            0.39
2017-07-01  1932320   927513.60   328494.40                  1            0.48
2017-08-01  1345432   645807.36   228723.44                  2            0.48
2017-09-01  1564354   750889.92   234653.10                  4            0.48
2017-10-01  1234543   592580.64   185181.45                  2            0.48
2017-11-01  1002321   481114.08   150348.15                  1            0.48
2017-12-01  1809675   723870.00   470515.50                  0            0.40
2018-01-01  2087567   793275.46   584518.76                  0            0.38

In [39]:
company_df.mean().round(2)

Revenue              2264981.92
NET Income            977239.00
Ad Spent              588606.40
Products launched          1.08
Profit Margins             0.43
dtype: float64

In [40]:
company_df.describe().round(2)

          Revenue  NET Income    Ad Spent  Products launched  Profit Margins
count       25.00       25.00       25.00              25.00           25.00
mean   2264981.92   977239.00   588606.40               1.08            0.43
std     542591.11   238861.67   236664.97               1.12            0.04
min    1002321.00   481114.08   150348.15               0.00            0.38
25%    2002323.00   793275.46   426908.60               0.00            0.40
50%    2456545.00   982618.00   641974.00               1.00            0.43
75%    2599087.00  1194892.00   750000.00               2.00            0.48
max    3034543.00  1299543.50  1031744.62               4.00            0.50

In [41]:
company_df["Market Share pc"] = company_df["Revenue"] / market_df["Revenue"] * 100
company_df

,Revenue,NET Income,Ad Spent,Products launched,Profit Margins,Market Share pc
Date,,,,,,
2016-01-01,2500000,1250000.00,750000.00,1,0.50,75.742588
2016-02-01,2570000,1285000.00,771000.00,2,0.50,75.131832
2016-03-01,2578568,1289284.00,773570.40,2,0.50,75.058217
2016-04-01,2599087,1299543.50,779726.10,1,0.50,73.841433
2016-05-01,2645678,1137641.54,661419.50,0,0.43,75.189523
2016-06-01,2567896,1104195.28,641974.00,0,0.43,75.714035
2016-07-01,2694354,1158572.22,673588.50,0,0.43,76.212127
2016-08-01,2865456,1232146.08,716364.00,2,0.43,79.355948
2016-09-01,2987230,1194892.00,985785.90,1,0.40,76.757738
2016-10-01,3034543,1213817.20,1031744.62,2,0.40,76.854485
2016-11-01,2456545,982618.00,736963.50,1,0.40,72.676911
2016-12-01,2354345,941738.00,635673.15,0,0.40,74.798409
2017-01-01,2002323,800929.20,500580.75,0,0.40,66.615864
2017-02-01,2654565,1061826.00,769823.85,0,0.40,72.165516
2017-03-01,2565430,1000517.70,692666.10,3,0.39,71.108843
2017-04-01,2434543,949471.77,584290.32,2,0.39,68.991185
2017-05-01,2003230,781259.70,400646.00,0,0.39,62.453508
2017-06-01,2134543,832471.77,426908.60,0,0.39,59.509642
2017-07-01,1932320,927513.60,328494.40,1,0.48,55.216179
2017-08-01,1345432,645807.36,228723.44,2,0.48,45.180776
2017-09-01,1564354,750889.92,234653.10,4,0.48,47.707338
2017-10-01,1234543,592580.64,185181.45,2,0.48,40.759396
2017-11-01,1002321,481114.08,150348.15,1,0.48,33.901652
2017-12-01,1809675,723870.00,470515.50,0,0.40,46.235629
2018-01-01,2087567,793275.46,584518.76,0,0.38,56.883299

In [42]:
company_df["Market Share pc"].max()

79.35594825652402

In [43]:
company_df["Percent Change"] = (company_df["Market Share pc"] - company_df["Market Share pc"][0]) / company_df["Market Share pc"][0] *100
company_df

,Revenue,NET Income,Ad Spent,Products launched,Profit Margins,Market Share pc,Percent Change
Date,,,,,,,
2016-01-01,2500000,1250000.00,750000.00,1,0.50,75.742588,0.000000
2016-02-01,2570000,1285000.00,771000.00,2,0.50,75.131832,-0.806358
2016-03-01,2578568,1289284.00,773570.40,2,0.50,75.058217,-0.903548
2016-04-01,2599087,1299543.50,779726.10,1,0.50,73.841433,-2.510021
2016-05-01,2645678,1137641.54,661419.50,0,0.43,75.189523,-0.730190
2016-06-01,2567896,1104195.28,641974.00,0,0.43,75.714035,-0.037698
2016-07-01,2694354,1158572.22,673588.50,0,0.43,76.212127,0.619914
2016-08-01,2865456,1232146.08,716364.00,2,0.43,79.355948,4.770579
2016-09-01,2987230,1194892.00,985785.90,1,0.40,76.757738,1.340263
2016-10-01,3034543,1213817.20,1031744.62,2,0.40,76.854485,1.467995
2016-11-01,2456545,982618.00,736963.50,1,0.40,72.676911,-4.047494
2016-12-01,2354345,941738.00,635673.15,0,0.40,74.798409,-1.246563
2017-01-01,2002323,800929.20,500580.75,0,0.40,66.615864,-12.049659
2017-02-01,2654565,1061826.00,769823.85,0,0.40,72.165516,-4.722669
2017-03-01,2565430,1000517.70,692666.10,3,0.39,71.108843,-6.117753
2017-04-01,2434543,949471.77,584290.32,2,0.39,68.991185,-8.913615
2017-05-01,2003230,781259.70,400646.00,0,0.39,62.453508,-17.545056
2017-06-01,2134543,832471.77,426908.60,0,0.39,59.509642,-21.431729
2017-07-01,1932320,927513.60,328494.40,1,0.48,55.216179,-27.100221
2017-08-01,1345432,645807.36,228723.44,2,0.48,45.180776,-40.349575
2017-09-01,1564354,750889.92,234653.10,4,0.48,47.707338,-37.013853
2017-10-01,1234543,592580.64,185181.45,2,0.48,40.759396,-46.186951
2017-11-01,1002321,481114.08,150348.15,1,0.48,33.901652,-55.240964
2017-12-01,1809675,723870.00,470515.50,0,0.40,46.235629,-38.956893
2018-01-01,2087567,793275.46,584518.76,0,0.38,56.883299,-24.899188

In [44]:
#check if there is correlation between the add spent and revenue
company_df["Ad Spent"].corr(company_df["Percent Change"])

0.88771734169062

In [45]:
competitor_df["Market Share pc"] = competitor_df["Revenue"] / market_df["Revenue"] * 100

competitor_df

,Revenue,NET Income,Ad Spent,Products launched,Profit Margins,Market Share pc
Date,,,,,,
2016-01-01,800653.00,320261.20,160130.60,1.00,0.40,24.257412
2016-02-01,850654.00,340261.60,212663.50,0.00,0.40,24.868168
2016-03-01,856856.00,342742.40,231351.12,0.00,0.40,24.941783
2016-04-01,920735.00,340671.95,276220.50,1.00,0.37,26.158567
2016-05-01,873001.07,323010.39,237595.13,0.51,0.37,24.810477
2016-06-01,823676.00,304760.12,197682.24,0.00,0.37,24.285965
2016-07-01,840981.00,353212.02,185015.82,0.00,0.42,23.787873
2016-08-01,745434.00,260901.90,223630.20,0.00,0.35,20.644052
2016-09-01,904534.00,316586.90,298496.22,1.00,0.35,23.242262
2016-10-01,913883.67,342569.41,306123.64,1.98,0.37,23.145515
2016-11-01,923545.00,369418.00,314005.30,3.00,0.40,27.323089
2016-12-01,793242.00,317296.80,158648.40,1.00,0.40,25.201591
2017-01-01,1003452.00,331139.16,361242.72,0.00,0.33,33.384136
2017-02-01,1023874.69,337878.65,363118.29,0.53,0.33,27.834484
2017-03-01,1042321.00,343965.93,364812.35,1.00,0.33,28.891157
2017-04-01,1094231.00,328269.30,426750.09,2.00,0.30,31.008815
2017-05-01,1204324.00,361297.20,481729.60,1.00,0.30,37.546492
2017-06-01,1452343.00,435702.90,580937.20,2.00,0.30,40.490358
2017-07-01,1567234.00,470170.20,548531.90,1.00,0.30,44.783821
2017-08-01,1632454.00,440762.58,489736.20,3.00,0.27,54.819224
2017-09-01,1714709.70,462971.62,532650.18,1.48,0.27,52.292662
2017-10-01,1794312.00,484464.24,574179.84,0.00,0.27,59.240604
2017-11-01,1954234.00,527643.18,781693.60,1.00,0.27,66.098348
2017-12-01,2104352.00,568175.04,757566.72,0.00,0.27,53.764371
2018-01-01,1582345.00,474703.50,537997.30,0.00,0.30,43.116701

In [46]:
competitor_df["Percent Change"] = (competitor_df["Market Share pc"] - competitor_df["Market Share pc"][0]) / competitor_df["Market Share pc"][0] *100
competitor_df

,Revenue,NET Income,Ad Spent,Products launched,Profit Margins,Market Share pc,Percent Change
Date,,,,,,,
2016-01-01,800653.00,320261.20,160130.60,1.00,0.40,24.257412,0.000000
2016-02-01,850654.00,340261.60,212663.50,0.00,0.40,24.868168,2.517813
2016-03-01,856856.00,342742.40,231351.12,0.00,0.40,24.941783,2.821286
2016-04-01,920735.00,340671.95,276220.50,1.00,0.37,26.158567,7.837419
2016-05-01,873001.07,323010.39,237595.13,0.51,0.37,24.810477,2.279984
2016-06-01,823676.00,304760.12,197682.24,0.00,0.37,24.285965,0.117709
2016-07-01,840981.00,353212.02,185015.82,0.00,0.42,23.787873,-1.935652
2016-08-01,745434.00,260901.90,223630.20,0.00,0.35,20.644052,-14.895902
2016-09-01,904534.00,316586.90,298496.22,1.00,0.35,23.242262,-4.184905
2016-10-01,913883.67,342569.41,306123.64,1.98,0.37,23.145515,-4.583743
2016-11-01,923545.00,369418.00,314005.30,3.00,0.40,27.323089,12.638104
2016-12-01,793242.00,317296.80,158648.40,1.00,0.40,25.201591,3.892331
2017-01-01,1003452.00,331139.16,361242.72,0.00,0.33,33.384136,37.624473
2017-02-01,1023874.69,337878.65,363118.29,0.53,0.33,27.834484,14.746303
2017-03-01,1042321.00,343965.93,364812.35,1.00,0.33,28.891157,19.102387
2017-04-01,1094231.00,328269.30,426750.09,2.00,0.30,31.008815,27.832330
2017-05-01,1204324.00,361297.20,481729.60,1.00,0.30,37.546492,54.783584
2017-06-01,1452343.00,435702.90,580937.20,2.00,0.30,40.490358,66.919531
2017-07-01,1567234.00,470170.20,548531.90,1.00,0.30,44.783821,84.619121
2017-08-01,1632454.00,440762.58,489736.20,3.00,0.27,54.819224,125.989582
2017-09-01,1714709.70,462971.62,532650.18,1.48,0.27,52.292662,115.573953
2017-10-01,1794312.00,484464.24,574179.84,0.00,0.27,59.240604,144.216505
2017-11-01,1954234.00,527643.18,781693.60,1.00,0.27,66.098348,172.487219
2017-12-01,2104352.00,568175.04,757566.72,0.00,0.27,53.764371,121.641001
2018-01-01,1582345.00,474703.50,537997.30,0.00,0.30,43.116701,77.746502

In [47]:
competitor_df["Ad Spent"].corr(competitor_df["Percent Change"])

0.9082594066107923

In [48]:
competitor_df["Profit Margins"].corr(competitor_df["Market Share pc"])

-0.8577137262002691

In [49]:
company_df["Profit Margins"].corr(company_df["Market Share pc"])

-0.2102701333735577

In [50]:
company_df["Profit Margins"].corr(company_df["Revenue"])

-0.28989100565844533

In [51]:
company_df["Products launched"].corr(company_df["Revenue"])

-0.10999256723280514

In [52]:
market_df

               Revenue  NET Income    Ad Spent  Products launched
Date
2016-01-01  3300653.00  1570261.20   910130.60               2.00
2016-02-01  3420654.00  1625261.60   983663.50               2.00
2016-03-01  3435424.00  1632026.40  1004921.52               2.00
2016-04-01  3519822.00  1640215.45  1055946.60               2.00
2016-05-01  3518679.07  1460651.93   899014.63               0.51
2016-06-01  3391572.00  1408955.40   839656.24               0.00
2016-07-01  3535335.00  1511784.24   858604.32               0.00
2016-08-01  3610890.00  1493047.98   939994.20               2.00
2016-09-01  3891764.00  1511478.90  1284282.12               2.00
2016-10-01  3948426.67  1556386.61  1337868.26               3.98
2016-11-01  3380090.00  1352036.00  1050968.80               4.00
2016-12-01  3147587.00  1259034.80   794321.55               1.00
2017-01-01  3005775.00  1132068.36   861823.47               0.00
2017-02-01  3678439.69  1399704.65  1132942.14               0.53
2017-03-01  3607751.00  1344483.63  1057478.45               4.00
2017-04-01  3528774.00  1277741.07  1011040.41               4.00
2017-05-01  3207554.00  1142556.90   882375.60               1.00
2017-06-01  3586886.00  1268174.67  1007845.80               2.00
2017-07-01  3499554.00  1397683.80   877026.30               2.00
2017-08-01  2977886.00  1086569.94   718459.64               5.00
2017-09-01  3279063.70  1213861.54   767303.28               5.48
2017-10-01  3028855.00  1077044.88   759361.29               2.00
2017-11-01  2956555.00  1008757.26   932041.75               2.00
2017-12-01  3914027.00  1292045.04  1228082.22               0.00
2018-01-01  3669912.00  1267978.96  1122516.06               0.00

In [53]:
market_df["Ad Spent"].corr(market_df["Revenue"])

0.8352167711855386

In [54]:
market_df["Products launched"].corr(market_df["Revenue"])

-0.10207225612682286

In [55]:
competitor_df.to_csv("fully complete competitor data")
company_df.to_csv("fully complete company data")